doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    |   
    title CS6001 - Kush Patel
    // CSS
    link(href='/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
    |   
    link(href='/css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
  body
    nav.light-blue.lighten-1(role='navigation')
      .container
        .nav-wrapper
          a#logo-container.brand-logo(href='/') CS 6001
          ul.right
            li
              a(href='/logout') Logout
    |   
    #index-banner.section.no-pad-bot
      .container
        br
        br
        |       
        h1.header.center.orange-text Results
        |             
        br
        br
    |   
    .container
      .section
        a.btn-floating.btn-large.waves-effect.waves-light.red(href="/profile")
          i.mdi-navigation-arrow-back
        .row
          table.striped
            thead
              tr
                td 
                  strong Algorithms
                td 
                  strong Verified
            tbody
              if algorithms.indexOf('1') !== -1
                tr
                  td Plain Hash
                  td 
                    | #{plainhash}
              if algorithms.indexOf('2') !== -1
                tr
                  td Hash with security key
                  td
                    | #{keyhash}
              if algorithms.indexOf('3') !== -1
                tr
                  td Hash with security key enrypted by PKI
                  td
                    | #{pkihash}
              if algorithms.indexOf('4') !== -1
                tr
                  td Hash with Password
                  td
                    | #{passwordhash}
              if algorithms.indexOf('5') !== -1
                tr
                  td Hash with Session
                  td
                    | #{sessionhash}
              if algorithms.indexOf('6') !== -1
                tr
                  td Two different hash with two different keys
                  td
                    | #{twohash}
        .row
          .col.s12
            .card-panel.grey
              span.white-text
                | Client Processing Time: #{clienttime} msec
          .col.s12
            .card-panel.grey
              span.white-text
                | Server Processing Time: #{servertime} msec
          .col.s12
            .card-panel.grey
              span.white-text
                | Network Transfer Time: #{networktime} msec
          .col.s12
            .card-panel.green.lighten-1
              span.white-text
                | Total Time: #{time} msec
      |     
      br
      br
      |     
      .section
    |   
    footer.page-footer.orange
      .container
        .row
          .col.l6.s12
            h5.white-text Created By:
            |           
            p.grey-text.text-lighten-4
              | Kush Patel
          |         
          .col.l3.s12
            
          |         
          .col.l3.s12
  
      |     
      .footer-copyright
        .container
          | Theme by 
          a.orange-text.text-lighten-3(href='http://materializecss.com') Materialize
    // Scripts
    script(src="/js/jquery-2.1.3.min.js")
    |   
    script(src='/js/materialize.js')
    |   
    script(src='/js/init.js')